.Rhistory
.Rprofile
.RData
.Rproj.user
analysis/paper/001-paper-main_cache
analysis/paper/001-paper-main.tex
analysis/paper/006-paper-supplementary.tex
analysis/submission-1
analysis/submission-2
*.pdf
*.bbl
*.bcf
*.aux
*.blg
*.tar.gz
*.log
*.run.xml
*.synctex.gz
*.tex.bak
*.cls.bak
*.knit.md
*.utf8.md
renv
analysis/paper/001-paper-main-or.Rmd
*005-incubation_electrochemical_data.csv
*tmp-pdfcrop*
