.Rhistory
.Rprofile
.RData
.Rproj.user
analysis/paper/001-paper-main_cache
analysis/submission
analysis/submission-2
*.pdf
*.bbl
*.bcf
*.aux
*.blg
*.tar.gz
*.log
*.run.xml
*.synctex.gz
*.tex.bak
*.cls.bak
*.knit.md
*.utf8.md
renv
analysis/paper/001-paper-main-or.Rmd
